* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body, html {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "bairen";
  src: url(fonts/baimaorenzhe.otf);
}

#result #result_alert {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
}

#bodyer {
  width: 100%;
  height: 5039px;
  position: absolute;
  background: url(jpg/beijing.png) center center no-repeat;
  animation: mymove 100s linear infinite;
  animation-direction: alternate;
}

@keyframes mymove {
  from {
    top: 0;
  }
  to {
    top: -4082px;
  }
}

@-webkit-keyframes mymove /*Safari and Chrome*/ {
  from {
    top: -4082px;
  }
  to {
    top: 0;
  }
}

#canvas {
  border: 1px solid #ccc;
  display: block;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 35;
}

.kuang {
  width: 300px;
  height: 600px;
  position: fixed;
  background: url(jpg/kuang.png);
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 30;
  text-align: center;
}

.kuang .wenzi {
  width: 100%;
  margin-top: 45px;
  height: 40px;
  float: left;
  color: #FD6C0A;
  font-weight: bold;
}

.kuang .changj {
  width: 100%;
  height: 40px;
  float: left;
  margin-left: -50px;
  margin-top: 10px;
  line-height: 40px;
  color: #FD6C0A;
  font-weight: bold;
}

.kuang #put {
  width: 50%;
  margin-top: 30px;
  height: 45px;
  border: 3px solid rgba(121, 230, 99, 0.71);
}

.kuang .volume_v {
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 10px;
  position: relative;
}

.kuang .volume_v #volume {
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
  top: 5px;
  left: 21%;
  cursor: pointer;
}

.kuang .volume_v #volume_xian {
  width: 50%;
  height: 10px;
  background: #12dea1;
  position: absolute;
  top: 15px;
  left: 33%;
  z-index: 4;
}

.kuang .volume_v #volume_xianhou {
  width: 50%;
  height: 10px;
  background: #de8612;
  position: absolute;
  top: 15px;
  left: 33%;
  z-index: 3;
}

.kuang .volume_v #volume_dian {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 78%;
  z-index: 5;
  background: #1ab83c;
  cursor: pointer;
}

.kuang .changji {
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 10px;
  line-height: 40px;
  color: #FD6C0A;
  font-weight: bold;
  cursor: pointer;
}

.kuang #huiqi {
  margin-top: 70px;
}

.left {
  left: 9%;
}

.right {
  right: 9%;
}

.right h3 {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 40px;
}

.right p {
  margin-left: 30px;
  display: inline-block;
  color: #607B4E;
  text-align: left;
  width: 200px;
  height: 40px;
  font-size: 18px;
}

#result {
  position: absolute;
  display: none;
  width: 100%;
  height: 957px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

#result #result_alert {
  width: 30%;
  height: 30%;
  right: 0;
  bottom: 0;
  background: rgba(236, 242, 235, 0.82);
}

#result #result_alert #restart {
  position: absolute;
  bottom: 20px;
  left: 20%;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background: #d77b1e;
  font-size: 24px;
}

#result #result_alert #set {
  position: absolute;
  bottom: 20px;
  right: 20%;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #d7e01b;
  cursor: pointer;
  font-size: 24px;
}

#result #result_alert #success {
  width: 80%;
  height: 60%;
  position: absolute;
  border-radius: 50%;
  top: 20px;
  left: 10%;
  font-family: 'bairen';
  font-size: 100px;
  text-align: center;
  line-height: 163px;
  background: url(jpg/heiqi.png) 70px center no-repeat;
}

#result #result_alert #success.qi {
  background: url(jpg/baiqi.png) 70px center no-repeat;
}

#save {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  background: #ade707;
  display: none;
  z-index: 300;
  cursor: pointer;
}

#save span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  color: #333;
}

#return {
  display: block;
  position: absolute;
  top: 0;
  right: 100px;
  width: 100px;
  height: 40px;
  background: #ade707;
  display: none;
  z-index: 300;
  cursor: pointer;
}

#return span {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}
